
<body id="page-top">

  <%= render "french/navbar" %>

  <div class="container-fluid p-0">

    <%= render "french/a_propos" %>

    <hr class="m-0">

    <%= render "french/realisations" %>

    <hr class="m-0">

    <%= render "french/experience" %>
   
    <hr class="m-0">

    <%= render "french/diplome" %>
    
    <hr class="m-0">

    <%= render "french/competences" %>

    <hr class="m-0">

    <%= render "french/centre_interet" %>

  </div>
</body>
